In [246]:
import pandas as pd

In [198]:
df = pd.read_csv("./dados/vendas-por-fatura.csv")
df.head()

,N° da fatura,Data da fatura,ID Cliente,País,Quantidade,Valor
0,548370,3/30/2021 16:14:00,15528.0,United Kingdom,123,"229,33"
1,575767,11/11/2021 11:11:00,17348.0,United Kingdom,163,"209,73"
2,C570727,10/12/2021 11:32:00,12471.0,Germany,-1,"-1,45"
3,549106,4/6/2021 12:08:00,17045.0,United Kingdom,1,"39,95"
4,573112,10/27/2021 15:33:00,16416.0,United Kingdom,357,"344,83"

In [199]:
df.shape

(25953, 6)

In [200]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25953 entries, 0 to 25952
Data columns (total 6 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   N° da fatura    25953 non-null  object
 1   Data da fatura  25953 non-null  object
 2   ID Cliente      22229 non-null  float64
 3   País            25953 non-null  object
 4   Quantidade      25953 non-null  int64
 5   Valor           25953 non-null  object
dtypes: float64(1), int64(1), object(4)
memory usage: 1.2+ MB

In [201]:
df.dtypes

N° da fatura       object
Data da fatura     object
ID Cliente        float64
País               object
Quantidade          int64
Valor              object
dtype: object

In [202]:
# Renomeando as colunas
df.columns = df.columns.str.replace(" ", "_")
df.columns

Index(['N°_da_fatura', 'Data_da_fatura', 'ID_Cliente', 'País', 'Quantidade',
       'Valor'],
      dtype='object')

In [203]:
# Convertendo tipo da Data da Fatura
df["Data_da_fatura"] = pd.to_datetime(df["Data_da_fatura"])
df.head()

,N°_da_fatura,Data_da_fatura,ID_Cliente,País,Quantidade,Valor
0,548370,2021-03-30 16:14:00,15528.0,United Kingdom,123,"229,33"
1,575767,2021-11-11 11:11:00,17348.0,United Kingdom,163,"209,73"
2,C570727,2021-10-12 11:32:00,12471.0,Germany,-1,"-1,45"
3,549106,2021-04-06 12:08:00,17045.0,United Kingdom,1,"39,95"
4,573112,2021-10-27 15:33:00,16416.0,United Kingdom,357,"344,83"

In [204]:
# Ordenando ascendente pela Data da Fatura
df.sort_values(by=['Data_da_fatura'], inplace=True)
df.head(10)

,N°_da_fatura,Data_da_fatura,ID_Cliente,País,Quantidade,Valor
9367,536365,2020-12-01 08:26:00,17850.0,United Kingdom,40,"139,12"
18259,536366,2020-12-01 08:28:00,17850.0,United Kingdom,12,"22,20"
11185,536368,2020-12-01 08:34:00,13047.0,United Kingdom,15,"70,05"
6876,536367,2020-12-01 08:34:00,13047.0,United Kingdom,83,"278,73"
8195,536369,2020-12-01 08:35:00,13047.0,United Kingdom,3,"17,85"
505,536370,2020-12-01 08:45:00,12583.0,France,449,"855,86"
12932,536371,2020-12-01 09:00:00,13748.0,United Kingdom,80,"204,00"
2773,536372,2020-12-01 09:01:00,17850.0,United Kingdom,12,"22,20"
20456,536373,2020-12-01 09:02:00,17850.0,United Kingdom,88,"259,86"
24617,536374,2020-12-01 09:09:00,15100.0,United Kingdom,32,"350,40"

In [205]:
# Obtendo Ano e Mês
df['Ano_mes'] = df['Data_da_fatura'].dt.to_period('M')
df.head(10)

,N°_da_fatura,Data_da_fatura,ID_Cliente,País,Quantidade,Valor,Ano_mes
9367,536365,2020-12-01 08:26:00,17850.0,United Kingdom,40,"139,12",2020-12
18259,536366,2020-12-01 08:28:00,17850.0,United Kingdom,12,"22,20",2020-12
11185,536368,2020-12-01 08:34:00,13047.0,United Kingdom,15,"70,05",2020-12
6876,536367,2020-12-01 08:34:00,13047.0,United Kingdom,83,"278,73",2020-12
8195,536369,2020-12-01 08:35:00,13047.0,United Kingdom,3,"17,85",2020-12
505,536370,2020-12-01 08:45:00,12583.0,France,449,"855,86",2020-12
12932,536371,2020-12-01 09:00:00,13748.0,United Kingdom,80,"204,00",2020-12
2773,536372,2020-12-01 09:01:00,17850.0,United Kingdom,12,"22,20",2020-12
20456,536373,2020-12-01 09:02:00,17850.0,United Kingdom,88,"259,86",2020-12
24617,536374,2020-12-01 09:09:00,15100.0,United Kingdom,32,"350,40",2020-12

In [236]:
df.loc[df['País']=="United Kingdom", 'Pertence_UK'] = "SIM"
df.loc[df['País']!="United Kingdom", 'Pertence_UK'] = "NÃO"
df.head(50)

,N°_da_fatura,Data_da_fatura,ID_Cliente,País,Quantidade,Valor,Ano_mes,Pertence_UK
9367,536365,2020-12-01 08:26:00,17850.0,United Kingdom,40,"139,12",2020-12,SIM
18259,536366,2020-12-01 08:28:00,17850.0,United Kingdom,12,"22,20",2020-12,SIM
11185,536368,2020-12-01 08:34:00,13047.0,United Kingdom,15,"70,05",2020-12,SIM
6876,536367,2020-12-01 08:34:00,13047.0,United Kingdom,83,"278,73",2020-12,SIM
8195,536369,2020-12-01 08:35:00,13047.0,United Kingdom,3,"17,85",2020-12,SIM
505,536370,2020-12-01 08:45:00,12583.0,France,449,"855,86",2020-12,NÃO
12932,536371,2020-12-01 09:00:00,13748.0,United Kingdom,80,"204,00",2020-12,SIM
2773,536372,2020-12-01 09:01:00,17850.0,United Kingdom,12,"22,20",2020-12,SIM
20456,536373,2020-12-01 09:02:00,17850.0,United Kingdom,88,"259,86",2020-12,SIM
24617,536374,2020-12-01 09:09:00,15100.0,United Kingdom,32,"350,40",2020-12,SIM
25140,536375,2020-12-01 09:32:00,17850.0,United Kingdom,88,"259,86",2020-12,SIM
1446,536376,2020-12-01 09:32:00,15291.0,United Kingdom,112,"328,80",2020-12,SIM
6508,536377,2020-12-01 09:34:00,17850.0,United Kingdom,12,"22,20",2020-12,SIM
24546,536378,2020-12-01 09:37:00,14688.0,United Kingdom,454,"444,98",2020-12,SIM
16673,536380,2020-12-01 09:41:00,17809.0,United Kingdom,24,"34,80",2020-12,SIM
660,536381,2020-12-01 09:41:00,15311.0,United Kingdom,198,"449,98",2020-12,SIM
24816,C536379,2020-12-01 09:41:00,14527.0,United Kingdom,-1,"-27,50",2020-12,SIM
8747,536382,2020-12-01 09:45:00,16098.0,United Kingdom,134,"430,60",2020-12,SIM
21949,C536383,2020-12-01 09:49:00,15311.0,United Kingdom,-1,"-4,65",2020-12,SIM
21244,536384,2020-12-01 09:53:00,18074.0,United Kingdom,190,"489,60",2020-12,SIM
24139,536385,2020-12-01 09:56:00,17420.0,United Kingdom,53,"130,85",2020-12,SIM
10263,536386,2020-12-01 09:57:00,16029.0,United Kingdom,236,"508,20",2020-12,SIM
14830,536387,2020-12-01 09:58:00,16029.0,United Kingdom,1440,"3193,92",2020-12,SIM
6927,536388,2020-12-01 09:59:00,16250.0,United Kingdom,108,"226,14",2020-12,SIM
19929,536389,2020-12-01 10:03:00,12431.0,Australia,107,"358,25",2020-12,NÃO
5991,536390,2020-12-01 10:19:00,17511.0,United Kingdom,1568,"1825,74",2020-12,SIM
14775,C536391,2020-12-01 10:24:00,17548.0,United Kingdom,-132,"-141,48",2020-12,SIM
3973,536392,2020-12-01 10:29:00,13705.0,United Kingdom,103,"318,14",2020-12,SIM
20755,536393,2020-12-01 10:37:00,13747.0,United Kingdom,8,"79,60",2020-12,SIM
16119,536394,2020-12-01 10:39:00,13408.0,United Kingdom,544,"1024,68",2020-12,SIM
19864,536395,2020-12-01 10:47:00,13767.0,United Kingdom,260,"507,88",2020-12,SIM
18246,536397,2020-12-01 10:51:00,17924.0,United Kingdom,60,"279,00",2020-12,SIM
25338,536396,2020-12-01 10:51:00,17850.0,United Kingdom,102,"376,36",2020-12,SIM
9596,536399,2020-12-01 10:52:00,17850.0,United Kingdom,12,"22,20",2020-12,SIM
20807,536398,2020-12-01 10:52:00,13448.0,United Kingdom,150,"426,56",2020-12,SIM
23237,536400,2020-12-01 10:53:00,13448.0,United Kingdom,12,"17,40",2020-12,SIM
7968,536401,2020-12-01 11:21:00,15862.0,United Kingdom,124,"354,23",2020-12,SIM
23089,536402,2020-12-01 11:22:00,15513.0,United Kingdom,116,"357,00",2020-12,SIM
16746,536403,2020-12-01 11:27:00,12791.0,Netherlands,97,"192,60",2020-12,NÃO
19162,536404,2020-12-01 11:29:00,16218.0,United Kingdom,438,"471,30",2020-12,SIM
4738,536405,2020-12-01 11:32:00,14045.0,United Kingdom,128,"326,40",2020-12,SIM
21424,536406,2020-12-01 11:33:00,17850.0,United Kingdom,96,"353,14",2020-12,SIM
20477,536407,2020-12-01 11:34:00,17850.0,United Kingdom,12,"22,20",2020-12,SIM
16951,536408,2020-12-01 11:41:00,14307.0,United Kingdom,558,"783,11",2020-12,SIM
6758,536409,2020-12-01 11:45:00,17908.0,United Kingdom,173,"243,28",2020-12,SIM
25873,536412,2020-12-01 11:49:00,17920.0,United Kingdom,220,"514,41",2020-12,SIM
17290,536414,2020-12-01 11:52:00,NaN,United Kingdom,56,"0,00",2020-12,SIM
2844,536415,2020-12-01 11:57:00,12838.0,United Kingdom,228,"390,79",2020-12,SIM
24680,536416,2020-12-01 11:58:00,13255.0,United Kingdom,110,"225,70",2020-12,SIM
16252,536420,2020-12-01 12:03:00,16583.0,United Kingdom,111,"233,45",2020-12,SIM

In [275]:
df.loc[df['N°_da_fatura'].str.startswith('C'), 'Devolucao'] = "SIM"
df.loc[~df['N°_da_fatura'].str.startswith('C'), 'Devolucao'] = "NÃO"
df.head(20)

,N°_da_fatura,Data_da_fatura,ID_Cliente,País,Quantidade,Valor,Ano_mes,Pertence_UK,Devolucao
9367,536365,2020-12-01 08:26:00,17850.0,United Kingdom,40,"139,12",2020-12,SIM,NÃO
18259,536366,2020-12-01 08:28:00,17850.0,United Kingdom,12,"22,20",2020-12,SIM,NÃO
11185,536368,2020-12-01 08:34:00,13047.0,United Kingdom,15,"70,05",2020-12,SIM,NÃO
6876,536367,2020-12-01 08:34:00,13047.0,United Kingdom,83,"278,73",2020-12,SIM,NÃO
8195,536369,2020-12-01 08:35:00,13047.0,United Kingdom,3,"17,85",2020-12,SIM,NÃO
505,536370,2020-12-01 08:45:00,12583.0,France,449,"855,86",2020-12,NÃO,NÃO
12932,536371,2020-12-01 09:00:00,13748.0,United Kingdom,80,"204,00",2020-12,SIM,NÃO
2773,536372,2020-12-01 09:01:00,17850.0,United Kingdom,12,"22,20",2020-12,SIM,NÃO
20456,536373,2020-12-01 09:02:00,17850.0,United Kingdom,88,"259,86",2020-12,SIM,NÃO
24617,536374,2020-12-01 09:09:00,15100.0,United Kingdom,32,"350,40",2020-12,SIM,NÃO
25140,536375,2020-12-01 09:32:00,17850.0,United Kingdom,88,"259,86",2020-12,SIM,NÃO
1446,536376,2020-12-01 09:32:00,15291.0,United Kingdom,112,"328,80",2020-12,SIM,NÃO
6508,536377,2020-12-01 09:34:00,17850.0,United Kingdom,12,"22,20",2020-12,SIM,NÃO
24546,536378,2020-12-01 09:37:00,14688.0,United Kingdom,454,"444,98",2020-12,SIM,NÃO
16673,536380,2020-12-01 09:41:00,17809.0,United Kingdom,24,"34,80",2020-12,SIM,NÃO
660,536381,2020-12-01 09:41:00,15311.0,United Kingdom,198,"449,98",2020-12,SIM,NÃO
24816,C536379,2020-12-01 09:41:00,14527.0,United Kingdom,-1,"-27,50",2020-12,SIM,SIM
8747,536382,2020-12-01 09:45:00,16098.0,United Kingdom,134,"430,60",2020-12,SIM,NÃO
21949,C536383,2020-12-01 09:49:00,15311.0,United Kingdom,-1,"-4,65",2020-12,SIM,SIM
21244,536384,2020-12-01 09:53:00,18074.0,United Kingdom,190,"489,60",2020-12,SIM,NÃO